.App {
  text-align: center;
  color: black;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form{
  width: 100%;
  max-width: 330px;
  margin: auto;
  height: 100%;
  padding-top: 30px;
  font-size: 20px;
  text-align: left;
}

.form-search{
  width: 100%;
  max-width: 600px;
  margin: auto;
  height: 100%;
  padding-top: 30px;
  font-size: 20px;
  text-align: left;
}

input[type="radio"]{
  margin: 0 10px 0 10px;
}

.card{
  width: 200px;

}

.search-result-div{
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 5px 0;
}

.card-button{
  margin: 10px 0 0 0;
  /*height: 20px;*/
  /*max-width: fit-content;*/
  /*max-height: fit-content;*/
}


.buttonStyle{
  text-align: center;
  padding-bottom: 15px;
}

.textStyle{
  text-align: left;
  padding-bottom: 15px;
}

.divStyle{
  padding-bottom: 15px;
  text-align: center;
}

.Page{
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cart_card_group_block {
  text-align:center;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}
.cart_card_block {
  text-align:left;
  margin:10px;
}

#cart_title {
  width: 100%;
}

#card_page_content{
  /*text-align:center;*/
  /*align-content: center;*/
  /*display: flex;*/
  /*align-items: center;*/
}

#cart_checkout{
  width: 25%;
  height: auto;
  padding-top: 3%;
  float: left;
}

#cart_items{
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 2%;
  width: 75%;
  height: auto;
  float: left;
}

#cart_card_info{
  width: 60%;
  height: auto;
  float: left;
}

#cart_card_actions{
  width: 40%;
  height: auto;
  float: left;
}